@font-face {
  font-family: 'AdiHaus';
  src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdiHaus';
  src: url('https://assets.codepen.io/6060109/adihaus_bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-transform: uppercase;
}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: 'AdiHaus';
}

.all-container {
  max-width: 500px;
  margin: 0 auto;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.hero {
  background-image: url('/img/mobile-shoes.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

.all-content-container {
  padding: 1rem;
  margin-bottom: 2rem;
}

.text-container {
  text-align: center;
}

.text-container > h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 65px;
  margin-bottom: 2rem;
  letter-spacing: 5px;
  color: #423a3a;
}

.text-container > h2.blue {
  font-weight: 400;
  line-height: 42px;
  color: #2f80ed;
}

.text-container > p {
  line-height: 28px;
  margin-bottom: 2rem;
}

.text-container > form {
  display: flex;
}

.text-container > form > input[type='email'] {
  width: 80%;
  padding: 0.8rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.text-container > form > input[type='submit'] {
  width: 20%;
  background: rgb(124, 124, 124);
  background: linear-gradient(
    90deg,
    rgba(124, 124, 124, 1) 0%,
    rgba(43, 40, 40, 1) 100%
  );
  color: white;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.desktop-image {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    justify-content: flex-start;
    margin-bottom: 100px;
  }

  .hero {
    display: none;
  }

  body {
    display: flex;
    background-image: url('/img/waves.png');
    background-size: cover;
  }

  .all-container {
    width: 50%;
  }

  .all-container .text-container {
    text-align: left;
  }

  .text-container > h2 {
    font-size: 64px;
  }

  .desktop-image {
    display: block;
    background-image: url('/img/shoes.png');
    background-size: cover;
    width: 50%;
  }
}
